<% include ./partials/header.ejs %>


<div  class="divv hidden absolute top-0 left-0 z-40 w-full min-h-screen bg-zinc-900 text-white py-5">
  <div class="flex justify-between items-center px-4">
    <a class="profile text-sm text-blue-500" href="/profile"><i class="ri-arrow-left-s-line"></i> profile</a>
    <h2 class="leading-none text-sm">Upload reel</h2>
    <a class="text-sm" href="/feed"><i class="ri-home-line"></i> home</a>
  </div>
  <div class="flex flex-col items-center gap-2 mt-20">
    <div class="image w-[25vw] h-[25vw] rounded-full border-2 border-zinc-800 flex items-center justify-center">
      <i class="text-5xl font-light ri-image-line"></i>
    </div>
    <button id="selectpic" class="text-blue-500 capitalize">select reel</button>
  </div>
  <div class="flex btngrp justify-center gap-5 mt-10">
    <button class="selected btn  pb-2 border-zinc-400">upload reel</button>
  </div>
  <form id="uploadform" action="/uploadreel" class="w-full px-6 py-3 mt-10" enctype="multipart/form-data" method="post">
      <input hidden type="file" name="file" accept="video/*" required>
      <textarea class="px-2 py-1 w-full bg-zinc-900 border-2 h-20 border-zinc-800 resize-none rounded-md outline-none" name="caption" placeholder="Write a caption..."></textarea>
      <input class="w-full px-2 py-2 bg-blue-500 rounded-md" type="submit" value="Post">
  </form>
</div>


  <div class="w-full min-h-screen bg-zinc-900 text-white py-5">
   
      <div class="nav flex justify-between items-center px-4">
        <h3 class="text-lg"><%=user.name%></h3>
        <div class=" relative icons flex gap-5">
          <svg aria-label="Home" class="reel mt-1 scale-[0.8] text-[1.4rem] x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Home</title><path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line></svg>
          <!-- <i class=" ri-add-box-line"></i> -->
          <a id="selectpic" class="box w-28 right-2 top-8 absolute h-10 hidden bg-yellow-50 rounded-md flex items-center justify-center" href="">
            <div>
              <h3 class="text-black font-medium">upload reels</h3>
            </div>
          </a>
          <i class="text-[1.4rem] ri-menu-line"></i>
        </div>
      </div>
      <div class="flex justify-between items-center pl-6 pr-[12vw] mt-8">
        <div class="w-[19vw] h-[19vw] bg-sky-100 rounded-full overflow-hidden">
          <img class="h-full w-full object-cover object-center" src="/images/uploads/<%=user.profileimg%>" alt="">
        </div>
        <div class="stats flex gap-5 items-center justify-between">
          <div class="flex flex-col items-center justify-center">
            <h3><%=user.posts.length%></h3>
            <h4>Posts</h4>
          </div>
          <div class="flex flex-col items-center justify-center">
            <h3>
            <%=user.followers.length%>
            </h3>
            <h4>Followers</h4>
          </div>
          <div class="flex flex-col items-center justify-center">
            <h3><%=user.following.length%></h3>
            <h4>following</h4>
          </div>
        </div>
      </div>
      <div class="dets px-6 mt-5">
        <h3 class="text-lg mb-1"><%=user.username%></h3>
        <p class="text-xs tracking-tight opacity-50">
          <%=user.bio ?? "[Set your bio from edit profile]" %>
        </p>
      </div>
      <div class="px-6 mt-5">
        <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/edit">Edit Profile</a>
      </div>
      <div class="btns w-full h-8 mt-4 flex items-center gap-5 justify-center text-white text-sm-5">
          <h3 class="tag current text-white"> <span><i class="ri-grid-line"></i></span> posts</h3>
          <h3 class="tag text-zinc-400"><span><i class="ri-bookmark-line"></i></span> saved</h3>
      </div>
      <div class="hidden savedposts w-full flex justify-start gap-1 py-2 px-1 mt-3 flex-wrap">
        <%if(user.saved.length > 0){%>
          <%user.saved.forEach(function(post){%>
            <div class="post w-[32.5%] h-32 bg-sky-100">
              <img class="w-full h-full object-cover object-center" src="/images/uploads/<%=post.image%>" alt="">
            </div>
         <% })%>
        <%}else{%>
          <small class="w-full text-sm mt-5 opacity-20 text-center">No saved posts</small>
         <%} %>
        
       
      </div>
      <div class=" posts w-full flex justify-start gap-1 py-2 px-1 mt-3 flex-wrap">


        <%if(user.posts.length > 0){%>
          <%user.posts.forEach(function(post){%>
              <div class="post w-[32.5%] h-32 bg-sky-100">
                <img class="w-full h-full object-cover object-center" src="/images/uploads/<%=post.image%>" alt="">
              </div>
          <%})%>
       <% }else{%>
        <small class="w-full text-sm mt-5 opacity-20 text-center">No posts</small>
      <%}%>
        
      </div>
      
  </div>

  <script>
    
 document.querySelector(".reel").addEventListener("click",function(e) {
    document.querySelector(".divv").classList.remove("hidden")
 })

document.querySelector(".profile").addEventListener("click",function(e){
  document.querySelector(".divv").classList.add("hidden")
})
 document.querySelector(".box")
    .addEventListener("click", function(){
        document.querySelector(".divv").classList.remove("hidden")
    });

    document.querySelector("#selectpic")
    .addEventListener("click", function(){
        document.querySelector("#uploadform input").click();
    });
   document.querySelector(".btns").addEventListener("click",function(ev){
             if(ev.target.classList.contains("tag")){
              if(!ev.target.classList.contains("current")){
                var current = ev.target.parentNode.querySelector(".current")
                 current.classList.remove("current")
                 current.classList.add("text-zinc-400")

                var post =  ev.target.parentNode.parentNode.querySelector(".posts")
                var savedpost =   ev.target.parentNode.parentNode.querySelector(".savedposts")
                 if(post.classList.contains("hidden")){
                   post.classList.remove("hidden")
                   savedpost.classList.add("hidden")
                 }
                 else if(savedpost.classList.contains("hidden")){
                   savedpost.classList.remove("hidden")
                   post.classList.add("hidden")
                 }
                
                  ev.target.classList.add("text-white","current");
                  ev.target.classList.remove("text-zinc-400");
              }
             }
   })


   
  </script>
<% include ./partials/footer.ejs %>